
.toolbar {
    padding          : 10px;
    width            : 100%;
    display          : flex;
    background-color : black;
    filter           : drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.418));
    align-items: center;
}

.title {
    color: white;
    height: 100%;
    margin-right: 5pt;
    font-weight: bolder;
}

.button {
    width            : 160px;
    border-radius    : 3px;
    font-size        : 12px;
    text-align       : center;
    background-color : rgb(36, 36, 36);
    color            : white;
    margin           : 5px;
    padding          : 5px;
    user-select      : none;
    cursor           : pointer;
}

.tile {
    color: rgb(103, 255, 110);
}

.map {
    display   : flex;
    position  : absolute;
    flex-wrap : wrap;
    z-index   : 1;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.418));
}

.tile-strip {
    display        : flex;
    flex-direction : column;
}

.border {
    position      : absolute;
    border        : solid;
    border-color  : black;
    box-sizing    : border-box;  /*/ The border must be inward, other than outward. /*/
    border-radius : 10px;
    z-index       : 999;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.418));
    color: white;
}

