
html {
    --map-size    : 800px;
    --tile-count  : 5;
    --map-padding : 20px;
}

.tile {
    width  : calc(100% / 5);
    height : calc(100% / 5);
}

.map {
    display   : flex;
    position  : absolute;
    flex-wrap : wrap;
    width     : var(--map-size);
    height    : var(--map-size);
    z-index   : 1;
}

.border {
    position     : absolute;
    border-color : black;
    box-sizing   : border-box;  /*/ The border must be inward, other than outward. /*/
    border       : solid;
    z-index      : 999;
    
      /*\
     |   |   This element's border will appear above the map. The empty background will reveal the map.
     |   |     - The empty space must be able to show AT LEAST (n - 1) TILES!
     |   |     - The border width must be able to HIDE 1 FULL TILE!
     |   |     - The element's width and height must take into account (2*border size) (Since the border goes inward)
     |   |   
     |   |           Size of single tile     |  map_width / tile_count + padding
     |   |           Width of (n - 1) tiles  |  map_width - size_of_single_tile
     |   |           Width of element        |  (Width of n - 1 tiles) + (2*border_width)
      \*/  
    
    border-width : calc(var(--map-size) / var(--tile-count) + var(--map-padding));
    width        : calc(var(--map-size) - (var(--map-size) / var(--tile-count) + var(--map-padding)) + (var(--map-size) / var(--tile-count) + var(--map-padding)) * 2);
    height       : calc(var(--map-size) - (var(--map-size) / var(--tile-count) + var(--map-padding)) + (var(--map-size) / var(--tile-count) + var(--map-padding)) * 2);
    
}

