
html {
    --map-size    : 1200px;
    --tile-count  : 5;
    --map-padding : 20px;
}

.tile {
    width  : 100%;
    height : calc(100% / var(--tile-count));
    font-size: 36px;
    color: white;
    text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                 -1px -1px 0 #000;
    font-weight: bolder;
}

.map {
    display   : flex;
    position  : absolute;
    flex-wrap : wrap;
    width     : var(--map-size);
    height    : var(--map-size);
    z-index   : 1;
}

.tile-strip {
    width  : calc(100% / var(--tile-count));
    display: flex;
    flex-direction: column;
}

.border {
    position     : absolute;

    border-color : black;
    box-sizing   : border-box;  /*/ The border must be inward, other than outward. /*/
    border       : solid;
    z-index      : 999;
    
      /*\
     |   |   This element's border will appear above the map. The empty background will reveal the map.
     |   |     - The empty space must be able to show AT LEAST (n - 1) TILES!
     |   |     - The border width must be able to HIDE 1 FULL TILE!
     |   |     - The element's width and height must take into account (2*border size) (Since the border goes inward)
      \*/  
    
                /* border_width = (map_size / tile_count) + map_padding */
    border-width : calc(var(--map-size) / var(--tile-count) + var(--map-padding));
    
                /* width = (map_size - border_width) + (border_width * 2) */
    width        : calc(var(--map-size) - (var(--map-size) / var(--tile-count) + var(--map-padding)) + (var(--map-size) / var(--tile-count) + var(--map-padding)) * 2);
    
                /* height = (map_size - border-width) + (border_width * 2) */
    height       : calc(var(--map-size) - (var(--map-size) / var(--tile-count) + var(--map-padding)) + (var(--map-size) / var(--tile-count) + var(--map-padding)) * 2);
    
                /* left = 50% - (width / 2) */
    left         : calc(50% - (var(--map-size) - (var(--map-size) / var(--tile-count) + var(--map-padding)) + (var(--map-size) / var(--tile-count) + var(--map-padding)) * 2) / 2);
    
                /* top = 45% - (height / 2) */
    top          : calc(50% - (var(--map-size) - (var(--map-size) / var(--tile-count) + var(--map-padding)) + (var(--map-size) / var(--tile-count) + var(--map-padding)) * 2) / 2);
}

